a {
  text-decoration: none;
  font-size: 0.333333rem;
}
body {
  min-width: 320px;
  max-width: 750px;
  width: 10rem;
  line-height: 1.5;
  margin: 0 auto;
  font-family: Arial, Helvetica;
  background: #f2f2f2;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 75px!important;
  }
}
.search_content {
  position: fixed;
  display: flex;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 10rem;
  height: 1.173333rem;
  background: #ffc001;
}
.search_content .classify {
  width: 0.586667rem;
  height: 0.933333rem;
  background: url(../images/classify.png);
  background-size: 0.586667rem 0.933333rem;
  margin: 0.146667rem 0.333333rem 0.133333rem;
}
.search_content .search {
  flex: 1;
}
.search_content .search input {
  width: 100%;
  border: 0;
  outline: none;
  height: 0.88rem;
  border-radius: 0.44rem;
  background: #fff2cc;
  margin-top: 0.16rem;
  padding-left: 0.72rem;
  color: #757575;
}
.search_content .login {
  width: 1rem;
  height: 0.933333rem;
  line-height: 0.933333rem;
  margin: 0.133333rem;
  text-align: center;
  color: #fff;
}
.banner {
  width: 10rem;
  height: 4.906667rem;
}
.banner img {
  width: 100%;
  height: 100%;
}
.ad {
  display: flex;
}
.ad a {
  flex: 1;
}
.ad a img {
  width: 100%;
}
.nav {
  width: 10rem;
}
.nav a {
  float: left;
  width: 2rem;
  height: 1.866667rem;
}
.nav a img {
  display: block;
  width: 1.093333rem;
  height: 1.093333rem;
  margin: 0.133333rem;
}
.nav a span {
  color: #333;
}
